{% extends "layouts/public_layout.html" %}
{% block title %}Reset Password{% endblock %}
{% from "macros/field_errors.html" import field_errors %}
{% from "macros/message.html" import message %}
{% block content %}
<div class="py-6">
  <h2 class="text-xl text-gray-800 mb-4">Reset password</h2>

  {{ message("Please enter your account email address. If the provided email address is valid you will receive
  an email with instruction for resetting your account password.") }}

  <form action="{{ url_for('forgot_password.forgot_password') }}" method="post" class="flex-col space-y-8">
    {{ form.csrf_token }}
    <fieldset class="flex-col space-y-2">
      <label for="email" class="block text-sm text-gray-800">Email</label>
      <input type="email" id="email" name="email" class="bg-gray-200 px-3 py-2 rounded active:bg-gray-300 w-full"
        required {% if form.email.data %} value="{{ form.email.data }}" {% endif %} autocomplete="email" />
      {{ field_errors(form.email) }}
    </fieldset>

    <fieldset>
      <input type="submit" value="Submit" class="text-sm text-white bg-blue-600 px-4 py-2 rounded" />
    </fieldset>
  </form>
</div>
{% endblock %}