{% extends "layouts/public_layout.html" %}
{% block title %}Set new password{% endblock %}
{% from "macros/field_errors.html" import field_errors %}
{% block content %}
<div class="py-6">
  <h2 class="text-xl text-gray-800 mb-4">Set new password</h2>
  <form action="{{ url_for('forgot_password.reset_password', token=token) }}" method="post" class="flex-col space-y-8">
    {{ form.csrf_token }}
    <fieldset>
      <label for="password" class="block text-sm text-gray-800">Password</label>
      <input type="password" name="password" class="bg-gray-200 px-3 py-2 rounded active:bg-gray-300 w-full" required
        minlength="8" />
      {{ field_errors(form.password) }}
    </fieldset>

    <fieldset>
      <label for="confirm_password" class="block text-sm text-gray-800">Confirm Password</label>
      <input type="password" name="confirm_password" class="bg-gray-200 px-3 py-2 rounded active:bg-gray-300 w-full"
        required minlength="8" />
      {{ field_errors(form.confirm_password) }}
    </fieldset>

    <fieldset>
      <input type="submit" value="Submit" class="text-sm text-white bg-blue-600 px-4 py-2 rounded" />
    </fieldset>
  </form>
</div>
{% endblock %}